.dashboard-side span{
  display: block;
  padding: 5% 1%;
}

.bold {
  font-weight: bold;
}

._paper{
  border-radius: 0!important;
  border: 8px solid rgb(206, 205, 205)!important;
}
._active{
 background: linear-gradient(to right, #dfdfc6 0%, #ffffff 100%)
}


.icon{
  width: 25px;
  margin-right: 10px;
}

.post{
  padding:  2% 3%;
  cursor: pointer;
}

.post .__title{
  font-size: 28px;
  font-weight: 500;
  display: block;
}

.post .description{
  font-size: 14px;
}


